@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #f9f9f9;
    font-family: "Inter";
    font-size: 24px;
  }
  div {
    border: 1px solid black;
  }
}
.button-hover:hover {
  @apply bg-Accent text-foreground;
}
